<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sách</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h1 th:text="${title}"></h1>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Mã sách</th>
                <th>Hình ảnh</th>
                <th>Tên sách</th>
                <th>Tác giả</th>
                <th>Giá bán</th>
                <th>Danh mục</th>
                <th>Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${listBook}">
                <td th:text="${book.id}"></td>
                <td><img th:src="${book.imageUrl}" alt="Ảnh sách" width="100"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category}"></td>
                <td>
                    <a th:href="@{/book/edit/{id}(id=${book.id})}" class="btn btn-outline-primary btn-sm">Sửa</a>
                    <a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Bạn có muốn xóa?')">Xóa</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
