<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách môn học</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <h2>Danh sách lớp</h2>
    <a class="btn btn-primary" th:href="@{/monHoc/add}">Thêm mới</a>
    <table class="table">
        <thead>
        <tr>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="monHoc : ${dsMonHoc}">
            <td th:text="${monHoc.maMon}"></td>
            <td th:text="${monHoc.tenMonHoc}"></td>
            <td>
                <a th:href="@{/monHoc/edit/{id}(id=${monHoc.maMon})}">Sửa</a> |
                <a th:href="@{/monHoc/delete/{id}(id=${monHoc.maMon})}" onclick="return confirm ('Bạn có muốn xoá?')">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
