<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - Bootcamp / CV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./favicon.ico">
</head>

<body>
<div class="background gradient"></div>
<div class="page">
    <header>
        <nav>
            <a href="/" class="selected">
                <span class="fas fa-user"></span>
                <span class="link">About</span>
            </a>
            <a href="/resume">
                <span class="fas fa-file"></span>
                <span class="link">Resume</span>
            </a>
            <a href="/contact">
                <span class="fas fa-at"></span>
                <span class="link">Contact</span>
            </a>
        </nav>
    </header>
    <main>
        <section id="about" class="about view">
            <article class="about-aboutMe">
                <div class="profile-background"></div>
                <div class="profile-image">
                    <img src="https://i.ibb.co/JHjYgmv/profile.png" alt="Ryan Adlard">
                </div>
                <h1 th:text="${about.name}"></h1>
                <p th:text="${about.jobTitle}"></p>
<!--                <div class="social-icons">-->
<!--                    <a th:href="@{${about.socialLinks[0]}}">-->
<!--                        <i class="fab fa-linkedin"></i>-->
<!--                    </a>-->
<!--                    <a th:href="@{${about.socialLinks[1]}}">-->
<!--                        <i class="fab fa-github"></i>-->
<!--                    </a>-->
<!--                    <a th:href="mailto:${about.socialLinks[2]}">-->
<!--                        <i class="fas fa-envelope"></i>-->
<!--                    </a>-->
<!--                </div>-->
                <h3 class="title">About Me</h3>
                <div class="line-left">
                    <p th:text="${about.description}">My short-term objective is to work as a back-end developer...</p>
                    <div>
                        <div>
                            <span>AGE: </span><span th:text="${about.age}"></span>
                        </div>
                        <div>
                            <span>RESIDENCE: </span><span th:text="${about.residence}"></span>
                        </div>
                        <div>
                            <span>FREELANCE: </span><span th:text="${about.isFreelanceAvailable}">/span>
                        </div>
                        <div>
                            <span>ADDRESS: </span><span th:text="${about.address}"></span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="about-services">
                <h3 class="title">My Services</h3>
                <div class="line-left">
                    <article class="line-down">
                        <div class="fas fa-code"></div>
                        <h4>WEB DEVELOPMENT</h4>
                        <p>Modern and mobile-ready website that will help you reach your marketing goals.</p>
                    </article>
                    <article class="line-down">
                        <div class="fas fa-music"></div>
                        <h4>MUSIC WRITING</h4>
                        <p>Music copying, transcription, arranging, and composition services.</p>
                    </article>
                    <article>
                        <div class="fas fa-bullhorn"></div>
                        <h4>ADVERTISING</h4>
                        <p>Television, radio, print, mail, and web advertising services.</p>
                    </article>
                    <article>
                        <div class="fas fa-gamepad"></div>
                        <h4>GAME DEVELOPMENT</h4>
                        <p>Developing memorable mobile games for Android and iOS.</p>
                    </article>
                </div>
            </article>
        </section>
    </main>
</div>
</body>

</html>
