<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact - Bootcamp / CV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./favicon.ico">
</head>

<body>
<div class="background gradient"></div>
<div class="page">
    <header>
        <nav>
            <a href="/">
                <span class="fas fa-user"></span>
                <span class="link">About</span>
            </a>
            <a href="/resume">
                <span class="fas fa-file"></span>
                <span class="link">Resume</span>
            </a>
            <a href="/contact" class="selected">
                <span class="fas fa-at"></span>
                <span class="link">Contact</span>
            </a>
        </nav>
    </header>
    <main>
        <section id="contact" class="contact view">
            <h3 class="title">Get in Touch</h3>
            <div class="contact-information line-left">
                <div>
                    <span>ADDRESS: </span> <span th:text="${contact.address}"></span>
                </div>
                <div>
                    <span>EMAIL: </span> <span th:text="${contact.email}"></span>
                </div>
                <div>
                    <span>PHONE: </span> <span th:text="${contact.phone}"></span>
                </div>
                <div>
                    <span>FREELANCE: </span> <span th:text="${contact.isFreelanceAvailable}"></span>
                </div>
            </div>
        </section>
    </main>
</div>
</body>

</html>
